/* LEFT SIDE (MAP) */

#map_container {
    position: relative;
    height: 100vh;
    width: 50%;
}

#map_menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    padding: 0px 3px 0px 0px;
    margin-left: 10px;
}

#map_menu_container > *:not(:last-child) {
    margin-right: 10px;
}

#map_menu_container > * {
    z-index: 1001;
}

#zoomable_map {
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
}

#zoomable_map, #map_box {
    height: calc(100vh - 50px);
    width: 100%;
}

#seg_control {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    top: 8px;
    right: 8px;
    z-index: 1000;
}

#date_range_picker {
    width: 280px;
}

#seg_control_label {
    font-weight: 600;
    font-size: 14px;
    z-index: 10000;
}

#map_menu_decor {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed darkgray;
}

/* RIGHT SIDE (INFOS) */

#infos_container {
    position: relative;
    width: 50%;
    height: 100vh;
    padding: 5px;
}

#infos_sub_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px 5px 5px 5px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 8px;
}

.box_title_name {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

#box_legend_name {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

#name_area {
    font-weight: 600;
    font-size: x-large;
    text-transform: uppercase;
    user-select: none;
    color: rgb(34, 139, 230);
    letter-spacing: 2.5px;
}

#name_graph {
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    user-select: none;
    color: rgb(34, 139, 230);
    letter-spacing: 2.5px;
}

#box_nbr_observation, #box_state_area {
    display: flex;
    align-items: center;
    margin: 0px 0px 20px 20px;
}

#text_nbr_observation, #text_state_area, #value_nbr_observation, #value_state_area {
    margin-left: 10px;
}

.divider_infos {
    border-color: rgb(34, 139, 230);
    margin-bottom: 20px;
}

#box_legend {
    display: flex;
    justify-content: center;
}

#box_legend > :not(:last-child) {
    margin-right: 10px;
}

#box_result_graph {
    display: flex;
    justify-content: center;
}

#tabs_result_by_observation_or_area {
    width: 90%;
}