#window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BOOKSHELF */
#bookshelf {
    display: flex;
    align-items: center;
    margin-top: 100px;

    --bookWidth: max(100px, 2vw) ;
    --bookHeight: max(400px, 10vh);
}

/* BOOK */
.book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bookWidth);
    height: var(--bookHeight);
    user-select: none;
    text-decoration: none;
    transition: 0.5s;
}

.book:hover {
    transform: translate(-75px, 75px);
}

.book:not(:last-child) {
    margin-right: 10px;
}

.book > * {
    position: absolute;
}

/* BOOK - Design */
.book .bookLeft {
    width: var(--bookWidth);
    height: var(--bookHeight);
    bottom: var(--bookWidth);
    background-color: #3f1d10;
    transform-origin: right;
    transform: skewY(-45deg);
}

.book .bookTop {
    width: var(--bookWidth);
    height: calc(var(--bookWidth) - 3px);
    left: 1px;
    bottom: calc(var(--bookHeight) - 3px);
    background-color: #b0aeab;
    transform-origin: bottom;
    transform: skewX(-45deg);
    background-image: repeating-linear-gradient(90deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 5px, transparent 1px);
    background-size: 8px 8px;
}

.book .bookFront {
    width: var(--bookWidth);
    height: var(--bookHeight);
    background-color: #622D18;
}

.book .bookRight {
    width: var(--bookWidth);
    height: var(--bookHeight);
    left: var(--bookWidth);
    background-color: #4d2312;
    transform-origin: left;
    transform: skewY(-45deg);
}

.book .bookBarFront {
    width: var(--bookWidth);
    background-color: gold;
}

.book .bookBarSide {
    width: var(--bookWidth);
    left: var(--bookWidth);
    background-color: rgb(201, 172, 9);
    transform-origin: left;
    transform: skewY(-45deg);
}

.book .BookBar1 {
    height: 12px;
    top: 16px;
}

.book .BookBar2 {
    height: 4px;
    top: 36px;
}

.book .bookText {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    white-space: nowrap;
}

.book:hover .bookText {
    color: gold;
}

.book .bookTitle {
    transform: rotate(-90deg);
    color: rgb(255, 243, 178);
    font-size: 24px;
}

.book .BookBar3 {
    height: 1px;
    bottom: 50px;
}

.book .BookBar4 {
    height: 1px;
    bottom: 24px;
}

.book .bookIndex {
    bottom: 10px;
    color: gold;
    font-size: 16px;
}