.selectedBook {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    --bookPageWidth: 350px;
    --bookPageHeight: 500px;
}

.bookPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bookPageWidth);
    height: var(--bookPageHeight);
    user-select: none;
    text-decoration: none;
}

.bookPage > * {
    position: absolute;
}

.bookPage .front {
    width: var(--bookPageWidth);
    height: var(--bookPageHeight);
    background-color: #622D18;
    border-radius: 5px;
}

.bookPage .bar1 {
    top: 16px;
    width: var(--bookPageWidth);
    height: 12px;
    background-color: gold;
}

.bookPage .titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--bookPageWidth) / 2 + var(--bookPageWidth) / 4);
    top: 64px;
    border: 1px solid gold;
    background-color: #582817;
}

.bookPage .titleBox .title {
    top: 64px;
    text-transform: uppercase;
    color: rgb(255, 243, 178);
    font-size: 28px;
    font-family: "Times New Roman", Times, serif;
    white-space: nowrap;
    margin: 0px;
}

.bookPage .bar2 {
    top: 36px;
    width: var(--bookPageWidth);
    height: 4px;
    background-color: gold;
}

.bookPage .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
    border-radius: 100%;
    width: calc(var(--bookPageWidth) / 2.8);
    height: calc(var(--bookPageWidth) / 2.8);
    background-color: #582817;
}

.bookPage .circle i {
    font-size: calc(var(--bookPageWidth) / 5);
    color: gold;
}

.bookPage .bar3 {
    bottom: 50px;
    width: var(--bookPageWidth);
    height: 1px;
    background-color: gold;
}

.bookPage .bar4 {
    bottom: 24px;
    width: var(--bookPageWidth);
    height: 1px;
    background-color: gold;
}