body {
    background-color: #F9F9F9;

    --sidebar-width: 200px;
}

#page_content {
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    display: flex;
    flex-direction: column;
}